<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="#"><img src="static/images/logo.png" width="30" height="30"> Weather Fly</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home</a><span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/Josh">Aircraft Map</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/weather">Weather Stats</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/api">API</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/radar">Radar</a>
                    </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
<head>
    <meta charset="utf-8">
    <title>Real-Time Air Traffic Map</title>
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">

    <!-- jQuery and JS bundle w/ Popper.js -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

    <!-- d3.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>

    <!-- Leaflet CSS & JS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" />
    

    <!-- Plotly -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">

    <!-- Leaflet.Terminator https://github.com/joergdietrich/Leaflet.Terminator -->
    <!-- <script src="https://unpkg.com/leaflet"></script> -->
    <script src="https://unpkg.com/@joergdietrich/leaflet.terminator"></script>

    <!-- Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>

    <!-- Turf.js -->
    <script src='https://unpkg.com/@turf/turf/turf.min.js'></script>
</head>

<body>
    <!-- nav bar
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> -->

        <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/api/v1.0">API</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/gpivaro/project_2/">About</a>
                </li>
            </ul>
        </div>
    </nav> -->
    <!-- nav bar -->
    <div class="container">
        <div class="row">
            <div class="col-12 col-xl-7">
                <div style=margin-top:2%;>
                    <!-- <div style="margin-left: 2%; margin-top:1%; margin-right: 2%;"> -->
                    <h3>Real-Time Air Traffic Map</h3>
                    <!-- <p style="margin-bottom: 5%;"> -->
                    Aircrafts on the map (global): <span id="numAircrafts"
                        style="color: red; font-weight: bold;"></span><br />
                    Aircraft position records on the database: <span id="totalAircraftDatabase"
                        style="font-weight: bold;"></span><br />
                    Total airports for: <span id="totalNumAirports" style="font-weight: bold; color:green"></span><br />

                    <label for="cars">Airports:</label>
                    <select id="selectAirportCountry">
                        <option value="" disabled selected hidden>Choose a country</option>
                        <!-- <option value="Mexico">Mexico</option> -->
                        <!-- <option value="Japan">Japan</option> -->
                    </select>
                    <div id="map"></div>
                </div>
            </div>
            <div class="col-12 col-xl-5">
                <div style=margin-top:2%;>
                    <div style="margin-left: 2%; margin-top:1%; margin-right: 2%;">
                    <h3>Aircraft Analysis</h3>
                    Aircraft: <span id="aircraftICAO"
                        style="font-weight: bold;"></span>
                    Flight: <span id="aircraftCallsign" style="font-weight: bold;"></span><br />
                    Distance traveled: <span id="totalDistance" style="font-weight: bold; color:blue"></span><br />
                    Different flights: <span id="aircraftCallsignICAO"
                        style="font-weight: bold;"></span>
                    Different aircrafts on this flight: <span id="aircraftICAOFlight"
                        style="font-weight: bold;"></span><br />
                    <label for="cars">Aircraft:</label>
                    <select id="selectICAO24">
                        <option value="" disabled selected hidden>Choose an aircraft</option>
                    </select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <label for="cars">Flight:</label>
                    <select id="selectCallsign">
                        <option value="" disabled selected hidden>Choose a flight</option>
                    </select>
                    <body style="padding: 0; margin: 0;">
                        <div style="height: 100%; width: 100%;" id="map"></div>
        
                        
                </body>
                </div>
            </div>
        </div>
        <hr>
    </div>



    <!-- <div class="plots"> -->
    <!-- The div where we will inject our map -->
    
        <div class="row">
            <div class="col-12 col-xl-6">
                <div id="scatterVelAltitude"></div>
            </div>
            <div class="col-12 col-xl-6">
                <div id="baroAltitudeHist"></div>
            </div>
        </div>
        <hr>
    </div>
    
        <div class="row">
            <div class="col-12 col-xl-6">
                <div id="barChart"></div>
            </div>
            <div class="col-12 col-xl-6">
                <div id="barChartAirports"></div>
            </div>
        </div>
        <hr>
    </div>
   
        <div class="row justify-content-between">
            <div class="col-12 col-xl-3" style="padding-right: 25%;">
                <div id="positionSourcePlot"></div>
            </div>
            <div class="col-12 col-xl-7">
                <!-- Canvas for ChartsJS plot -->
                <canvas id="myChart" width="80%" height="50%"></canvas>
            </div>
        </div>
    </div>

    <!-- <div id="airplaneMap"></div> -->
    <!-- </div> -->



    <!-- API key -->
    <script type="text/javascript" src="static/js/config.js"></script>
    <!-- JS -->

    <script type="text/javascript" src="/static/js/left_map_v4.js"></script>
    <script type="text/javascript" src="/static/js/right_map_v4.js"></script>
    
    <!-- <script type="text/javascript" src="static/js/icao24.js"></script> 
    <script type="text/javascript" src="static/js/icao24_new.js"></script>
    <script type="text/javascript" src="static/js/main.js"></script> -->
    
    <!-- <script type="text/javascript" src="static/js/logic_Josh_v2.js"></script> 
     -->
    
    
    <!-- <script type="text/javascript" src="static/js/logic_Gabriel_v4.js"></script> -->
   <!-- <script type="text/javascript" src="static/js/logic_Gabriel_v3.js"></script>-->
    <!-- <script type="text/javascript" src="static/js/logic_Gabriel_v2.js"></script>
     <script type="text/javascript" src="static/js/app1.js"></script> 
    <script type="text/javascript" src="static/js/app.js"></script> -->
     
    
</body>

</html>